/**
 * Base layer
 */
:root {
	--timer-visual-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #27284c;
  color: #d5d5e3;
  padding: .5rem;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	color: #ffd033;
}

h2 {
	margin: 0 0 .3em 0;
	font-size: 16px;
}

h3 {
	display: inline-block;
	margin: 0 0 .3em 0;
	font-size: 16px;
}

p {
	margin-bottom: .5rem;
}

fieldset {
	margin-top: 1rem;
	border: 0px none;
	margin-left: 0;
	padding-left: 0;
}

legend {
	font-weight: bold;
	color: #0ebeff;
}

label {
	display: block;
}


*:focus {
	outline: 3px solid #ffd033;
}

figcaption {
	text-align: center;
	color: #152336;
}

/**
 * Components layer
 */

.app {
	display: grid;
	grid-gap: .3rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 10vh auto 2fr 1fr auto;
	grid-template-areas: "logo  logo  logo    stop"
						 "timer timer timer   timer"
						 "word  word  word    word"
					     "skip  skip  succeed succeed"
						 "round team  skipped guessed";

	height: calc(100vh - .9rem);
}

@media only screen and (min-width: 581px) {
	.app {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: 20vw repeat(4, 1fr) 20vw;
		grid-template-rows: 20vh auto 1fr;
		grid-template-areas: "logo round team skipped guessed stop"
							 "timer timer timer timer timer timer"
							"skip  word word word word succeed";
		height: calc(100vh - 1rem);
	}

	.c-logo img {
		max-width: 150px;
	}
}

.c-logo {
	grid-area: logo;
}

.c-logo img {
	max-height: 50px;
}

.c-stop {
	grid-area: stop;
}

.c-word {
	grid-area: word;
}

.c-skip {
	grid-area: skip;
}

.c-succeed {
	grid-area: succeed;
}

.c-counters {
	grid-area: counters;
}

.c-round {
	grid-area: round;
}

.c-team {
	grid-area: team;
}

.c-skipped {
	grid-area: skipped;
}

.c-guessed {
	grid-area: guessed;
}

.c-timer {
	position: relative;
	grid-area: timer;
	text-align: center;
}

.c-timer__visual {
	position: absolute;
	top: 0;
	bottom: 100%;
	left: 0;
	border-radius: 6px;
	width: var(--timer-visual-width);
	height: 100%;
	background-color: deeppink;
}

.c-settings {
	display: grid;
	max-width: 600px;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
}

.c-settings__version,
.c-settings__submit {
	grid-column: span 2;
}

.c-box {
  background-color: #353881;
  color: #d5d5e3;
  border-radius: 6px;
  padding: .5rem;  
}

.c-box--logo {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffd033;
  color: #27284c;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.c-word {
	background-color: #f5f5f5;
	color: black;
}

.c-word__wrapper {
	display: grid;
	height: 100%;
	justify-items: center;
	align-items: center;
}

.c-word__image {
	height: 80%;
	width: auto;
	max-height: 45vh;
	max-width: 95%;
}

.c-button {
  display: block;
  margin-bottom: 0;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  color: #35292c;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #0ebeff;
}

.c-button:hover,
.c-button:focus {
	filter: contrast(130%);
}

.c-button > img {
	width: 50%;
}

.c-button--stop > img {
	width: auto;
	height: 95%;
	display: block;
	margin: 0 auto;
}

.c-button--skip {
  background-color: #ff3c41;
  color: #35292c;
}

.c-button--succeed {
  background-color: #47cf73;
}

[disabled].c-button {
	background-color: #AAAAAA;
}

[disabled].c-button img {
	opacity: 30%;
}

/**
 * Utility layer
 */

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
