/**
 * Base layer
 */
:root {
	--timer-visual-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #27284c;
  color: #d5d5e3;
  padding: .5rem;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	color: #ffd033;
}

h2 {
	margin: 0 0 .3em 0;
	font-size: 16px;
}

h3 {
	display: inline-block;
	margin: 0 0 .3em 0;
	font-size: 16px;
}

p {
	margin-bottom: .5rem;
	line-height: 1.5rem;
}

form {
	line-height: 2.5;
}

fieldset {
	margin-top: 1rem;
	border: 0px none;
	margin-left: 0;
	padding-left: 0;
}

legend {
	font-weight: bold;
	color: #ffd033;
}

*:focus {
	outline: 3px solid #ffd033;
}

figcaption {
	text-align: center;
	color: #152336;
}

/**
 * Components layer
 */

.app {
	display: grid;
	grid-gap: .3rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 10vh auto 2fr 1fr auto;
	grid-template-areas: "logo  logo  logo    stop"
						 "timer timer timer   timer"
						 "word  word  word    word"
					     "failed-button  failed-button  succeed-button succeed-button"
						 "round team  failed succeed";

	height: calc(100vh - .9rem);
}

@media only screen and (min-width: 581px) {
	.app {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: 20vw repeat(4, 1fr) 20vw;
		grid-template-rows: 20vh auto 1fr;
		grid-template-areas: "logo round team failed succeed stop"
							 "timer timer timer timer timer timer"
							"failed-button  word word word word succeed-button";
		height: calc(100vh - 1rem);
	}

	.c-logo img {
		max-width: 150px;
	}
}

.c-logo {
	grid-area: logo;
}

.c-logo img {
	max-height: 50px;
}

.c-stop {
	grid-area: stop;
}

.c-word {
	grid-area: word;
}

.c-failed-button {
	grid-area: failed-button;
}

.c-succeed-button {
	grid-area: succeed-button;
}

.c-counters {
	grid-area: counters;
}

.c-round {
	grid-area: round;
}

.c-team {
	grid-area: team;
}

.c-failed {
	grid-area: failed;
}

.c-succeed {
	grid-area: succeed;
}

.c-timer {
	position: relative;
	grid-area: timer;
	text-align: center;
}

.c-timer__visual {
	position: absolute;
	top: 0;
	bottom: 100%;
	left: 0;
	border-radius: 6px;
	width: var(--timer-visual-width);
	height: 100%;
	background-color: deeppink;
}

.c-box {
  background-color: #353881;
  color: #d5d5e3;
  border-radius: 6px;
  padding: .5rem;  
}

.c-box--logo {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffd033;
  color: #27284c;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.c-word {
	display: grid;
	background-color: #f5f5f5;
	color: black;
}

.c-word__wrapper {
	display: grid;
	justify-items: center;
	align-items: center;
}

.c-word__word {
	font-weight: bold;
	font-size: 8vh;
	text-align: center;
}

.c-word__image {
	width: auto;
	max-height: 40vh;
	max-width: 95%;
}

.c-button {
  display: block;
  margin-bottom: 0;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  color: #35292c;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #0ebeff;
}

.c-button:hover,
.c-button:focus {
	filter: contrast(130%);
}

.c-button > img {
	width: 50%;
}

.c-button--stop > img {
	width: auto;
	height: 95%;
	display: block;
	margin: 0 auto;
}

.c-button--failed {
  background-color: #ff3c41;
  color: #35292c;
}

.c-button--succeed {
  background-color: #47cf73;
}

[disabled].c-button {
	background-color: #AAAAAA;
}

[disabled].c-button img {
	opacity: 30%;
}




.c-dialog {
	display: none;
}

.c-dialog.opened {
	display: block;
}

.c-dialog__window {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 24px;
	z-index: 101;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 6px;
	padding: 1rem;
	background: #27284c;
	min-width: 300px;
}

.c-dialog__window > h2 {
	font-size: 1.5rem;
	text-align: center;
}

.c-dialog__mask {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	overflow: hidden;
}

.c-form__fields {
	display: flex;
	flex-wrap: wrap;
}

.c-form__fields > * {
	margin-right: 2rem;
}

.c-form__field-wrapper input[type="radio"] {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.c-form__field-wrapper label {
	display: flex;
	align-items: center;
	font-weight: 400;
	cursor: pointer;
	padding: 0;
}

.c-form__field-wrapper label:before {
	content: "";
	flex-shrink: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #ffffff;
	border: 3px solid #0ebeff;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.c-form__field-wrapper input[type="radio"]:focus + label:before {
	box-shadow: 0 0 0 3px #ffd033;
}

.c-form__field-wrapper input[type="radio"]:checked + label:before {
	background: radial-gradient(#01324b 0%, #01324b 40%, #fff 40%);
	border-color: #0ebeff;
}

.c-settings__submit {
	margin-top: 24px;
}

@media only screen and (min-width: 581px) {
	.c-settings {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: "teams version"
							 "words version"
							 "submit submit";
	}

	.c-settings__teams {
		grid-area: teams;
	}
	.c-settings__words {
		grid-area: words;
	}

	.c-settings__version {
		grid-area: version;
	}

	.c-settings__submit {
		margin-top: 0;
		grid-area: submit;
	}
}

.c-home {
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 1fr;
	grid-template-rows: 20vmax repeat(2, 1fr) auto;
	grid-template-areas: "logo"
	"text"
	"start"
	"credits";
	height: calc(100vh - 1rem);
}

.c-home__logo {
	grid-area: logo;
	background-color: #ffd033;
	display: flex;
	align-items: center;
	padding: 4em;
	border-radius: 8px;
}

.c-home__text {
	grid-area: text;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.c-home__start {
	grid-area: start;
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-cta-link {
	font-size: 2rem;
	color: #ffd033;
}

.c-home__credits {
	grid-area: credits;
	background: #0ebeff;
	border-radius: 8px;
	padding: 8px 16px;
	color: #27284c;
}

.c-home__credits ul {
	margin: 0;
}

.c-home__credits a {
  color: #27284c;
}

/**
 * Utility layer
 */

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
